<% if @list.photo.attached? %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, crop: :fill %>');">
    <h2><%= @list.name %></h2>
  </div>
<% else %>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path('cinema.jpg') %>');">
    <h2><%= @list.name %></h2>
  </div>
<% end %>

<div class="container">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card">
        <img class="card-img-top" src="<%= bookmark.movie.poster_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.movie.title %></h5>
          <div class="rating">
            <p>&#128420;<%= bookmark.movie.rating %></p>
          </div>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <p class="card-quote"><span>"</span><%= bookmark.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
